{% if 合作组 %}
[{{合作组中文}}&VCB-Studio] {{ 外站标题片名 }} {{位深}} {{分辨率}} {{编码}} {{类型}} [{{标注}}]
{% else %}
[VCB-Studio] {{ 外站标题片名 }} {{位深}} {{分辨率}} {{编码}} {{类型}} [{{标注}}]
{% endif %}

{{ 主站标题片名 }} {{位深}} {{分辨率}} {{编码}} {{类型}} [{{标注}}]
