{% if 合作组 %}
[{{合作组中文}}&VCB-Studio] {{中文}} / {{ENGLISH}} / {{日本語}} {{位深}} {{分辨率}} {{编码}} {{类型}} [{{标注}}]
{% else %}
[VCB-Studio] {{中文}} / {{ENGLISH}} / {{日本語}} {{位深}} {{分辨率}} {{编码}} {{类型}} [{{标注}}]
{% endif %}

{{ENGLISH}} / {{中文}} {{位深}} {{分辨率}} {{编码}} {{类型}} [{{标注}}]

{{ENGLISH}}
{{中文}}