{% if 合作组 %}
[{{合作组中文}}&VCB-Studio] {{中文_Title_short}} / {{ENGLISH_Title_short}} / {{日本語_Title_short}} {{位深}} {{分辨率}} {{编码}} {{类型}} [{{标注}}]
{% else %}
[VCB-Studio] {{中文_Title_short}} / {{ENGLISH_Title_short}} / {{日本語_Title_short}} {{位深}} {{分辨率}} {{编码}} {{类型}} [{{标注}}]
{% endif %}

{{ENGLISH_Title}} / {{中文_Title}} {{位深}} {{分辨率}} {{编码}} {{类型}} [{{标注}}]

{{ENGLISH_Title}}
{{中文_Title}}