外站标题：
[{% if 合作组 %}{{ 合作组 | join("&") ~ "&" }}{% endif %}VCB-Studio] {{ 外站标题 | join(' / ') }} {{位深}} {{分辨率}} {{编码}} {{类型}} [{{标注}}]

主站标题：
{{ 主站标题 | join(' / ') }} {{位深}} {{分辨率}} {{编码}} {{类型}} [{{标注}}]

Nyaa Information：
https://vcb-s.com/archives/138


<!--Reseed 项目可能合并了主站上其它多个页面的内容。 \-->
<!--如果存在这种情况，需要前往每个这样的页面，于其正文 more 下方添加指向于 Reseed 页面的说明，但是不更新时间-->

[box style="info"]
本页面的作品已被更新的合集替代，请移步下载新版：

<a href="{{主站链接}}" rel="noopener" target="_blank">{{主站链接}}</a>
[/box]